html, body {
    margin: 0;
    padding: 0;
}
.full-container {
    height: 10px;
}
.bg-green {
    background: greenyellow;
}
.main-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.width-auto {
    width: auto;
    display: flex;
    align-items: center;

}
.width-auto button {
    margin: 0 10px;
}
